{% extends "simple/base.html" %}

{% block styles %}
<style>
#categories_container,
#filters {
    margin-top: 2rem;
}
#advanced_search {
    display: none;
}
</style>
{% endblock %}

{% block meta %}
{% include "advanced/partials/advanced_search.html" %}
{% include "advanced/partials/search_on_category_select.html" %}
{% include "advanced/partials/simple_main_id.html" %}
{% endblock %}

{% block content %}
<div class="index">
    <div class="title">
        <h1>SearXNG</h1>
    </div>

    {% include "simple/simple_search.html" %}

    <div id="advanced_search">
        {% include "simple/categories.html" %}

        <div id="filters">
            {% include "simple/filters/languages.html" %}
            {% include "simple/filters/time_range.html" %}
            {% include "simple/filters/safesearch.html" %}
        </div>
    </div>
</div>
{% endblock %}
