{% if get_setting('ui.advanced_search') is sameas true %}
<script defer>
  document.addEventListener("DOMContentLoaded", () => {
    [...document.querySelectorAll('#advanced_search :where(input[type="checkbox"], select)')]
      .forEach(input => {
        input.setAttribute('form', 'search');
  
        [...document.querySelectorAll(`#search :where(input[name="${input.name}"], select[name="${input.name}"])`)]
          .forEach(simpleInput => {
            simpleInput.remove();
          });
      });
  
    document.querySelector('#advanced_search').style.display = 'block';
  });
</script>
{% endif %}
